<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Reto del Páramo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Inicio</a>
            <a class="nav-item nav-link" href="/horarios">Horarios</a>
            <a class="nav-item nav-link" href="/about">Acerca de</a>
        </div>
    </div>
    <span class="navbar-text" style="margin-right: 40px;">
        Se parte del mejor evento de ciclismo
    </span>
    <a class="btn btn-primary" href="/formulario" role="button">Inscribirse</a>


</nav>